<h1 class="mb-10">Enrollments</h1>

<%= link_to 'Add New Enrollment', new_enrollment_path %>

<table class="border border-black border-spacing-15 mt-10" style="width:100%">
  <thead>
    <tr>
      <th class="border border-black border-spacing-15">Student</th>
      <th class="border border-black border-spacing-15">Teacher</th>
      <th class="border border-black border-spacing-15">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td class="border border-black border-spacing-15"><%= enrollment.student.name %></td>
        <td class="border border-black border-spacing-15"><%= enrollment.teacher.name %></td>
        <td class="border border-black border-spacing-15 italic"><%= link_to 'Delete', enrollment, method: :delete, data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
