<h1 class="mb-5"><%= @teacher.name %></h1>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %> |
<%= link_to 'Delete', teacher_path(@teacher), data:{
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
} %>