<div class="container mx-auto p-4">
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden p-6">
    <%= render partial: "school", locals: { school: @school } %>

    <div class="flex gap-4 mt-4">
      <%= link_to "Edit this school", edit_school_path(@school), class: "btn-back" %>
      <%= button_to "Destroy this school", school_path(@school), method: :delete, class: "btn-back" %>
      <%= link_to "Back to schools", schools_path, class: "btn-back" %>
    </div>
  </div>
</div>
