@import "students";
@import "teachers";
@import "users";
@import "enrollments";
@import "schools";
@import "payments";
@import "fees";
@import "devise";

li{
    margin-right: 20px;
}

h1{
    font-size:x-large;
    font-weight: 800;
}
.stat {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }

nav {
  background-color: #333; 
  padding: 10px 0; 
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  text-align: center; 
}

nav ul li {
  display: inline; 
  margin-right: 20px; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  color: #fff; 
  text-decoration: none; 
  font-weight: bold; 
}

nav ul li a:hover {
  color: #ffd700; 
}

nav ul li button {
  color: #ff4500; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  font-weight: bold; 
}

nav ul li button:hover {
  color: #fff; 
}  

.stat {
    background-color: #e9d14d; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .stat-figure {
    margin-bottom: 10px; 
  }
  
  .stat-title {
    font-weight: bold; 
  }
  
  .stat-value {
    font-size: 24px; 
  }
  
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table th {
  border: 1px solid #000;
  background-color: #e2e8f0;
  padding: 8px;
}

table td {
  border: 1px solid #000;
  padding: 8px;
}

table tbody tr:nth-child(even) {
  background-color: #edf2f7;
}

.pagy-container .pagy {
  background-color: #ffffff;
}

#alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

